// 灯塔色系
$color-primary: #C50405;
$color-subsidiary-first: #E50202;
$color-subsidiary-second: #800101;
$color-subsidiary-thirdly: #F08116;

// 系统颜色
$system-success: #50CD65;
$system-warning: #F8A62A;
$system-danger: #F94444;
$system-info: #999999;

// 字体颜色
$font-color-primary: #333333;
$font-color-second: #666666;
$font-color-thirdly: #999999;
$font-color-display: #cccccc;

// 纵向间距定义规范
$margin-col-size-small: 8px; // 小号间距
$margin-col-size-medium: 16px; // 中号间距
$margin-col-size-large: 24px; // 大号间距

// 横向间距定义规范
$margin-row-size-small: 8px; // 小号间距
$margin-row-size-medium: 16px; // 中号间距
$margin-row-size-large: 24px; // 大号间距